---
import Roll from './Roll.astro';
import { site } from '../config/site';
// Minimal sticky top bar: wordmark (home) + link to the main personal portfolio.
---

<header class="topbar">
  <div class="wrap topbar__inner">
    <a class="topbar__brand" href="/" data-intro><Roll text={site.brand} /></a>
    <a class="topbar__link" href={site.portfolioUrl} target="_blank" rel="noopener" data-intro>
      <Roll text="About ↗" />
    </a>
  </div>
</header>
